## Please think carefully before adding a new item to Gitignore
## and make sure that is does not belong into a Global Gitignore instead

# Distribution files
dist/
out/

public/disclaimer.txt

# Dependencies -- Yarn && NPM
node_modules/
.yarn-integrity
.npm

# Build Cache
.next

# Lots of log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime Data Files
pids
*.pid
*.seed
*.pid.lock
.eslintcache
.awcache

# And in case somewant wants to debug by hand
.node_repl_history
run