.mybutton {
  display: inline-block;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--first-font-color);
  padding: 10px;
  border: none;
  font-size: 14px;
  margin: 1px;
}
.mybutton:hover {
  background-color: var(--secondary-color);
  box-shadow: 2px 5px 5px 2px gray;
  cursor: pointer;
}
.mybutton:disabled {
  background-color: gray;
}
.mybutton:disabled:hover {
  box-shadow: none;
  cursor: auto;
}
