:import('../../config/colors.css') {
  primary-color: primary-color;
  secondary-color: secondary-color;
  first-font-color: first-font-color;
  second-font-color: second-font-color;
}

.mybutton {
  display: inline-block;
  width: 100%;
  background-color: primary-color;
  color: first-font-color;
  padding: 10px;
  border: none;
  margin: 1px;
  font-size: 14px;
}
.mybutton:hover {
  background-color: secondary-color;
  box-shadow: 2px 5px 5px 2px gray;
  cursor: pointer;
}
.mybutton:disabled {
  background-color: gray;
}
.mybutton:disabled:hover {
  box-shadow: none;
  cursor: auto;
}
