:import('../../config/colors.css') {
  primary-color: primary-color;
  secondary-color: secondary-color;
  first-font-color: first-font-color;
  second-font-color: second-font-color;
}

.DropDown {
  position: relative;
  display: inline-block;
  margin-right: 1px;
}

.DropDownactive {
  position: relative;
  display: inline-block;
  margin-right: 1px;
}

.DropDownactive .DropDownContent {
  display: block;
}

.DropDownbtn {
  background-color: primary-color;
  color: first-font-color;
  padding: 10px;
  border: none;
}

.DropDownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  max-height: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: auto;
}

.DropDownContent div {
  color: second-font-color;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}
.DropDownContent div:hover {
  background-color: #ddd;
}

.DropDown:hover .DropDownbtn {
  background-color: secondary-color;
}
