.ResultList {
  text-align: center;
  margin: 1% 5% 1% 5%;
  width: 95%;
  box-shadow: 0px 5px 5px 0px #eee;
  /* border-radius: 15px; */
}

.ResultList .ButtonList {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.ResultList .ResultListTopLine {
  display: block;
  text-align: center;
  margin: 1% 5% 1% 5%;
}
.ResultList .ResultListTopLine .item {
  display: inline;
  text-align: center;
  margin: 1px;
}
