:import('../../config/colors.css') {
  primary-color: primary-color;
  secondary-color: secondary-color;
}

.ResultListEntry {
  background-color: #eee;
  text-align: center;
  margin: 8px 3% 8px 3%;
  border: 1px solid;
  /* border-radius: 5px; */
  /* max-width: 90%; */
  width: auto;
  box-shadow: 0px 2px 2px 0px;
}

.title {
  background: #eee;
}
.ResultListEntry:hover .title {
  background-color: secondary-color;
  cursor: pointer;
}
.ResultListEntry:hover > div > b {
  font-size: 1.2em;
}
.ResultListEntry .Content {
  /* border-radius: 5px; */
  background-color: #fff;
  border: 1px solid;
  width: auto;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 1px;
  margin-right: 1px;
}

.Content .FlexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  box-shadow: 0px 1px 1px 0px black;
  border-radius: 1px;
  margin: 3px;
  max-height: 98%;
  overflow: none;
}

.Content .FlexContainer > * {
  margin: 2px;
  overflow: hidden;
}
