.PreviewWindow {
  text-align: center;
  position: fixed;
  top: 10%;
  right: 0%;
  padding: 1px;
  margin: 1%;
  font-size: 200%;
  background-color: var(--first-bg-color);
  border: 1px solid var(--secondary-color);
  min-width: 15%;
  max-width: 50%;
  min-height: 15%;
  box-shadow: 0px 1px 1px 0px;
  overflow: auto;
  z-index: 10;
}
