.PreviewWindow {
  text-align: center;
  position: fixed;
  top: 5%;
  right: 0%;
  padding: 1px;
  margin: 1%;
  font-size: 200%;
  background-color: #eee;
  border: 1px solid black;
  min-width: 15%;
  max-width: 50%;
  min-height: 15%;
  box-shadow: 0px 1px 1px 0px;
  overflow: auto;
}
