:import('../../config/colors.css') {
  primary-color: primary-color;
  secondary-color: secondary-color;
  first-front-color: first-font-color;
}

.SearchBar {
  text-align: center;
  margin: 1% 5% 1% 5%;
  width: 90%;
  color: first-font-color;
}

.textInput {
  font-size: 20px;
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid primary-color;
}
.textInput:focus {
  border: 2px solid secondary-color;
}
.SearchBar .clearButton {
  font-size: 20px;
  width: auto;
}

.SearchBar .searchButton {
  width: auto;
}

.buttonbar {
  display: flex;
  justify-content: center;
}
