:import('../../config/colors.css') {
  primary-color: primary-color;
  secondary-color: secondary-color;
  first-font-color: first-font-color;
  second-font-color: second-font-color;
  first-bg-color: first-bg-color;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background: first-bg-color;
  border-bottom: 2px solid secondary-color;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  color: second-font-color;
}

.brandinglogo {
  background: secondary-color;
  color: first-font-color;
  padding: 0.5em;
  box-shadow: 0px 1px 1px 0px secondary-color;
  z-index: 1;
  font-size: 2.5em;
  margin-right: 10px;
  text-decoration: none;
  max-width: 20%;
  max-height: 200px;
}

.header .MWSTitle {
  padding: 0.25em;
  font-size: 2em;
  margin-left: 5px;
  text-align: center;
}

.navbar {
  background: primary-color;
  color: first-font-color;
  margin-top: 2px;
  font-size: 0.5em;
  padding: 1%;
}

.navlink {
  background: primary-color;
  color: first-font-color;
  padding: 1px;
  margin: 2px;
  text-decoration: none;
}
.navlink:hover {
  background: secondary-color;
}

.buttonpairs {
  align-self: center;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: flex-end;
}

.statsbox {
  align-self: center;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
}

.rightcorner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
}
