.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #efefef;
  border: 1px solid;
}

.header .corpus {
  padding: 0.5em;
  background-color: #226622;
  box-shadow: 0px 1px 1px 0px #337733;
  z-index: 1;
  font-size: 2.5em;
  color: #fff;
  float: left;
  margin-right: 10px;
  margin-left: 7.5%;
  text-decoration: none;
  max-width: 20%;
  max-height: 200px;
}

.header .MWSTitle {
  padding: 0.25em;
  font-size: 2em;
  margin-left: 5px;
  float: left;
  text-align: center;
}

.navbar {
  background: #4caf50;
  margin-top: 2px;
  font-size: 0.5em;
  padding: 1%;
}

.navlink {
  color: white;
  padding: 1px;
  margin: 2px;
  text-decoration: none;
}
.navlink:hover {
  background: #226622;
}
