:import('../../config/colors.css') {
  primary-color: primary-color;
  secondary-color: secondary-color;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #efefef;
  border-bottom: 2px solid secondary-color;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.brandinglogo {
  background: secondary-color;
  color: white;
  padding: 0.5em;
  box-shadow: 0px 1px 1px 0px #337733;
  z-index: 1;
  font-size: 2.5em;
  margin-right: 10px;
  /* margin-left: 7.5%; */
  text-decoration: none;
  max-width: 20%;
  max-height: 200px;
}

.header .MWSTitle {
  padding: 0.25em;
  font-size: 2em;
  margin-left: 5px;
  text-align: center;
}

.navbar {
  background: primary-color;
  color: white;
  margin-top: 2px;
  font-size: 0.5em;
  padding: 1%;
}

.navlink {
  background: primary-color;
  color: white;
  padding: 1px;
  margin: 2px;
  text-decoration: none;
}
.navlink:hover {
  background: secondary-color;
}

.buttonbox {
  align-self: center;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
}

.buttonpairs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  justify-content: flex-end;
}
