.ResultList {
  text-align: center;
  margin: 1% 5% 1% 5%;
  border: 2px solid;
  width: 90%;
  box-shadow: 0px 5px 5px 0px #eee;
  border-radius: 15px;
}

.ResultList .ButtonList {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
.ResultList .ResultListTopLine {
  display: block;
  text-align: center;
  margin: 1% 5% 1% 5%;
}
.ResultList .ResultListTopLine .item {
  display: inline;
  text-align: center;
  margin: 1px;
}

/* stolen from w3schools :) */
/* Customize the label (the container) */
.container {
  position: relative;
  display: inline;
  padding: 10px;
  padding-left: 42px;
  cursor: pointer;
  font-size: 12.5px;
  background-color: #4caf50;
  color: white;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 1px;
  left: 1px;
  height: 35px;
  width: 35px;
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4caf50;
}

.container:hover .checkmark:after {
  background-color: #226622;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '\00d7';
  font-size: 25px;
  top: 1px;
  left: 1px;
  height: 35px;
  width: 35px;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: inline;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  position: absolute;
  text-align: center;
}
