:import('../../config/colors.css') {
  primary-color: primary-color;
  secondary-color: secondary-color;
  first-font-color: first-font-color;
  second-font-color: second-font-color;
}
/* stolen from w3schools :) */
/* Customize the label (the container) */
.container {
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  display: flex;
  font-size: 90%;
  background-color: primary-color;
  color: first-font-color;
  justify-content: flex-start;
  align-items: center;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.text {
  padding: 1px;
}

/* Create a custom checkbox */
.checkmark {
  text-align: center;
  height: 35px;
  width: 35px;
  padding: 1px;
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  text-align: center;
  content: '\2714';
  font-size: 25px;
  display: none;
}

/* When the checkbox is checked, add a green background */
.container input:checked ~ .checkmark {
  background-color: primary-color;
}

.container:hover {
  background-color: secondary-color;
  box-shadow: 2px 5px 5px 2px gray;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
