/* stolen from w3schools :) */
/* Customize the label (the container) */
.container {
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  display: flex;
  font-size: 80%;
  background-color: var(--primary-color);
  color: var(--first-font-color);
  justify-content: flex-start;
  align-items: center;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.text {
  padding: 1px;
}

/* Create a custom checkbox */
.checkmark {
  text-align: center;
  height: 30px;
  width: 30px;
  padding: 1px;
  background-color: var(--first-bg-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  text-align: center;
  content: '\2714';
  font-size: 25px;
  display: none;
}

/* When the checkbox is checked, add a green background */
.container input:checked ~ .checkmark {
  background-color: var(--primary-color);
}

.container:hover {
  background-color: var(--secondary-color);
  box-shadow: 2px 5px 5px 2px gray;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
