.Content .FlexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  border: solid 1px;
  border-radius: 10px;
  margin: 3px;
}

.Content .FlexContainer > * {
    margin: 2px;
}
