.Content .FlexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  box-shadow: 0px 1px 1px 0px;
  border-radius: 10px;
  margin: 3px;
  max-height: 98%;
  overflow: none;
}

.Content .FlexContainer > * {
  margin: 2px;
  overflow: hidden;
}
