.DropDown {
  position: relative;
  display: inline-block;
}

.DropDownbtn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
}

.DropDownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: auto;
}

.DropDownContent div {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}
.DropDownContent div:hover {
  background-color: #ddd;
}

.DropDown.active .DropDownContent {
  display: block;
}

.DropDown:hover .DropDownbtn {
  background-color: #226622;
}
