.header {
  margin-top: 1%;
}

.header .corpus {
  background-color: #226622;
  box-shadow: 0px 1px 1px 0px #337733;
  z-index: 1;
  font-size: 2.5em;
  color: #fff;
  padding: 0.75em;
  float: left;
  margin-right: 10px;
  text-decoration: none;
  max-width: 20%;
  max-height: 200px;
}

.header .TitleContainer {
  background-color: #efefef;
  margin-left: 10px;
  align: center;
  text-align: center;
}

.header .MWSTitle {
  font-size: 2.5em;
  margin-left: 10px;
  padding: 0.75em;
  float: left;
}

.header .MWSText {
  padding: 0.93em;
  box-shadow: 1px 1px 1px 1px;
  z-index: 1;
  max-width: 80% ;
  float: left;
}
