.ResultListEntry {
  background-color: #e4e4e4;
  text-align: center;
  margin: 5px 5% 5px 5%;
  border: 2px solid;
  border-radius: 5px;
  max-width: 90%;
  box-shadow: 0px 2px 2px 0px;
}
.ResultListEntry:hover {
  background-color: #226622;
}
.ResultListEntry:hover > div > b {
  font-size: 1.2em;
}
.ResultListEntry .Content {
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid;
  width: auto;
  height: auto;
  margin: 2px;
}
