.ResultListEntry {
    background-color: lightgray;
    text-align: center;
    margin: 5px 5% 5px 5%;
    border: 2px solid;
    border-radius: 5px;
    max-width: 90%;
}
.ResultListEntry .Content {
    /* border: 1px solid ; */
    border-radius: 5px;
    background-color: #b4b4b4;
    width: auto;
    height: auto;
    margin: 2px;

}
