.ResultListEntry {
  background-color: #e4e4e4;
  text-align: center;
  margin: 8px 3% 8px 3%;
  border: 2px solid;
  border-radius: 5px;
  /* max-width: 90%; */
  width: auto;
  box-shadow: 0px 2px 2px 0px;
}
.ResultListEntry:hover {
  background-color: #226622;
  cursor: pointer;
}
.ResultListEntry:hover > div > b {
  font-size: 1.2em;
}
.ResultListEntry .Content {
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid;
  width: auto;
  height: auto;
  margin: 2px;
}
