.ResultList {
  align: center;
  margin: 1% 10% 1% 10%;
  border: 2px solid;
  width: 80%;
}

.ResultList .ButtonList {
  align: center;
  margin: 1% 34% 1% 34%;
}
.ResultList .ResultListTopLine {
  align: center;
  margin: 1% 10% 1% 10%;
}
.ResultList .ResultListTopLine button {
  align: center;
  margin: 1% 1% 1% 1%;
}
