.ResultListEntry {
    background-color: lightgray;
    text-align: center;
    margin: 3px 10% 3px 10%;
    border: 1px solid;
    border-radius: 5px;
    max-width: 80%;
}
.ResultListEntry .Content {
    border: 1px solid ;
    background-color: #b4b4b4;
    width: auto;
    height: auto;
    margin: 1px;

}
