.SearchBar {
  text-align: center;
  margin: 1% 5% 1% 5%;
  width: 90%;
}

.textInput {
  font-size: 20px;
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #4caf50;
}
.textInput:focus {
  border: 2px solid #226622;
}
.SearchBar .clearButton {
  font-size: 20px;
}
