/* heavily inspired by w3schools */
/* Tooltip container */
.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
  width: 200px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 150;
  right : 103%;

  opacity: 0.9;
  transition: opacity 1s;
}

