/* heavily inspired by w3schools */
/* Tooltip container */
.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 105%;

  visibility: visible;
  opacity: 1;
}
